* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper1 {
    width: 1350px;
    height: 160px;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper2 { /* Gyro status*/
    width: 475px;
    height: 130px;
    position: absolute;

    top: 93.5%;
    left: 19.7%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper2b { /* Accel status*/
    width: 475px;
    height: 130px;
    position: absolute;

    top: 93.5%;
    left: 80%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper2c { /* Accel status*/
    width: 380px;
    height: 130px;
    position: absolute;
    top: 93.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper3 {  /* Gyro Graph */
    width: 45%;
    height: 160px;
    position: absolute;
    top: 46%;
    left: 25.5%;
    transform: translate(-50%, -50%);
}

.wrapper3b {  /* Accel Graph */
    width: 45%;
    height: 160px;
    position: absolute;
    top: 46%;
    left: 74.2%;
    transform: translate(-50%, -50%);
}
/*.wrapper4 {
    width: 675px;
    height: 130px;
    position: absolute;
    top: 93%;
    left: 25%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}*/

.wrapper5 { /*  offset box */
    width: 24.4%;
    height: 115px;
    position: absolute;

    top: 27.5%;
    left: 84.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper5a { /* UUID */
    width: 22.4%;
    height: 115px;
    position: absolute;

    top: 27.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper5b { /*  RSSI */
    width: 10%;
    height: 115px;
    position: absolute;

    top: 27.5%;
    left: 67.15%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper6a {   /*  threshold box */
    width: 10%;
    height: 115px;
    position: absolute;
    top: 27.5%;
    left:8.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper6b {   /*  threshold box */
    width: 10%;
    height: 115px;
    position: absolute;
    top: 27.5%;
    left:19.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper6c {   /*  threshold box */
    width: 13%;
    height: 115px;
    position: absolute;
    top: 27.5%;
    left:31.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.wrapper8 {
    width: 1353px;
    height: 130px;
    position: absolute;

    top: 110.5%;
    left: 49%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: scroll;;
}


body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.xGyro-panel,
.yGyro-panel,
.zGyro-panel,
.xAccel-panel,
.yAccel-panel,
.zAccel-panel  {
    width: 16%;
    float: left;
    height: 500px;
    padding: 100px;
}

.initial-data {
    font-size: 20px;

    transform: translate(0%, -70%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -70px;
    margin-bottom: 50px;
    position: relative;
}

.initial-data-value {
    transform: translate(0%, -140%);
    text-align: center;
    font-size: 20px;
    font-weight: 70;
    margin-bottom: 100px;
}

.title {
  background-color: #EB4D4D;
  color: #fff;
  width: 35%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;

  font-size: 30px;
}

.vib-box {
  text-align: center;
    background-color: #EB4D4D;
    color: #fff;
    width: 55%;
    margin: 0 auto;
    padding: 12px;
    font-size: 35px;
}

.vibStat {
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translateX(-50%);
  height: 60px;
  font-size: 30px;
}

.vibStatB {
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translateX(-50%);
  height: 60px;
  font-size: 30px;
}

.vibStatC {
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translateX(-50%);
  height: 60px;
  font-size: 30px;
}

.vib-boxB {
  text-align: center;
    background-color: #EB4D4D;
    color: #fff;
    width: 55%;
    margin: 0 auto;
    padding: 12px;
    font-size: 35px;
}

.vib-boxC {
    text-align: center;
    background-color: #EB4D4D;
    color: #fff;
    width: 55%;
    margin: 0 auto;
    padding: 12px;
    font-size: 35px;
}

.threshold-limit-main {
  text-align: center;
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    font-size: 35px;
}

.threshold-limit {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  height: 60px;
  font-size: 30px;
}

.offset-limit-main {
  text-align: center;
    background-color: #EB4D4D;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    font-size: 25px;
}

.offset-limit-maina {
  text-align: center;
    background-color: #EB4D4D;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    font-size: 25px;
}

.offset-limit-mainb {
  text-align: center;
    background-color: #EB4D4D;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    font-size: 25px;
}

.offset-limit {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  height: 60px;
  font-size: 20px;
}

.offset-limita {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  height: 60px;
  font-size: 20px;
}

.offset-limitb {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  height: 60px;
  font-size: 20px;
}

.set-threshold-limit {
  text-align: center;
    background-color: #EB4D4D;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    font-size: 25px;
}

.set-threshold-limitB {
  text-align: center;
    background-color: #EB4D4D;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    font-size: 25px;
}

.set-threshold-limitC {
  text-align: center;
    background-color: #EB4D4D;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    font-size: 25px;
}

.set-threshold-limit-input {
  position: absolute;
  left: 48%;
  top: 60%;
  transform: translateX(-50%);
  height: 100px;
  font-size: 50px;
}

.set-threshold-limit-inputB {
  position: absolute;
  left: 48%;
  top: 60%;
  transform: translateX(-50%);
  height: 100px;
  font-size: 50px;
}

.set-threshold-limit-inputC {
  position: absolute;
  left: 48%;
  top: 60%;
  transform: translateX(-50%);
  height: 100px;
  font-size: 50px;
}
